{% open_file('protected/modules/admin/views/default/index.php') %}
<div class="row main-shortcuts">
	<div class="col-md-2 col-xs-6">
		<a href="<?php echo Yii::app()->homeUrl; ?>" class="btn btn-default">
			<i class="glyphicon glyphicon-globe"></i> 
			<?php echo Yii::t('admin.crud', 'View the site'); ?>
		</a>
	</div>
	<?php if(Yii::app()->user->checkAccess('view_user')): ?>
		<div class="col-md-2 col-xs-6">
			<a href="<?php echo $this->createUrl('/admin/user'); ?>" class="btn btn-default">
				<i class="glyphicon glyphicon-user"></i> 
				<?php echo Yii::t('admin.crud', 'Users'); ?>
			</a>
		</div>
	<?php endif; ?>
	{% join_partial('crud.shortcuts') %}
	{% join_partial('options.shortcuts') %}
</div>
{% close_file() %}
