{% open_file('protected/modules/admin/views/layouts/include/navbar.php') %}
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only"><?php echo Yii::t('admin.crud', 'Toggle navigation'); ?></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="<?php echo $this->createUrl('/admin'); ?>"><?php echo CHtml::encode(Yii::app()->name); ?></a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<?php echo CHtml::link('<i class="glyphicon glyphicon-off"></i> ' . Yii::t('admin.crud', 'Logout'), array('/admin/default/logout'), array('class' => 'btn btn-default navbar-btn pull-right logout-btn')) ?>
		
		<p class="pull-right navbar-text">
			<i class="glyphicon glyphicon-user"></i> <?php echo  Yii::t('admin.crud', 'You are logged as'); ?> <b><?php echo Yii::app()->user->name; ?></b>
		</p>
		
		<?php $this->widget('Menu', array(
			'items' => array(
				array(
					'label' => '<i class="glyphicon glyphicon-globe"></i> ' . Yii::t('admin.crud', 'View the site'),
					'url' => Yii::app()->homeUrl,
				),
				array(
					'label' => '<i class="glyphicon glyphicon-user"></i> ' . Yii::t('admin.crud', 'Users'),
					'url' => array('/admin/user'),
					'visible' => Yii::app()->user->checkAccess('view_user'),
				),
				array(
					'label' => '<i class="glyphicon glyphicon-folder-open"></i> ' . Yii::t('admin.crud', 'Manage Content') . ' <b class="caret"></b>',
					'url' => '#',
					'itemOptions' => array(
						'class' => 'dropdown',
					),
					'linkOptions' => array(
						'class' => 'dropdown-toggle',
						'data-toggle' => 'dropdown',
					),
					'items' => array(
{% join_partial('crud.menuitems') %}
					),
				),
				array(
					'label' => '<i class="glyphicon glyphicon-wrench"></i> ' . Yii::t('admin.crud', 'Settings') . ' <b class="caret"></b>',
					'url' => '#',
					'itemOptions' => array(
						'class' => 'dropdown',
					),
					'linkOptions' => array(
						'class' => 'dropdown-toggle',
						'data-toggle' => 'dropdown',
					),
					'items' => array(
{% join_partial('options.menuitems') %}
					),
				),
			),
			'encodeLabel' => false,
			'htmlOptions' => array(
				'class' => 'nav navbar-nav',
			),
			'submenuHtmlOptions' => array(
				'class' => 'dropdown-menu',
			),
		)); ?>
	</div><!-- /.navbar-collapse -->
</nav>
{% close_file() %}
