{% open_file('protected/modules/admin/messages/ru/crud.php') %}
<?php

return array(
	'View the site' => 'Открыть сайт',
	'Toggle navigation' => 'Переключить навигацию',
	'Logout' => 'Выйти',
	'You are logged as' => 'Вы вошли как',
	'Manage Content' => 'Контент',
	'Settings' => 'Настройки',
	'Yes' => 'Да',
	'No' => 'Нет',
	'Create' => 'Создать',
	'Update' => 'Обновить',
	'Search' => 'Поиск',
	'Select Value' => 'Выберите из списка',
	'Create User' => 'Создать пользователя',
	'Users' => 'Пользователи',
	'Manage Users' => 'Все пользователи',
	'Update User' => 'Редактировать',
	'View User' => 'Просмотреть',
	'Delete User' => 'Удалить',
	'New User' => 'Создание пользователя',
	'Updating User' => 'Редактирование пользователя',
	'User Information' => 'Данные пользователя',
	'Are you sure you want to delete this user?' => 'Вы уверены, что хотите удалить этого пользователя?',
	'Options have been updated' => 'Настройки обновлены',
{% join_partial('crud.messages') %}
);

{% close_file() %}
