{% open_file('protected/modules/admin/controllers/OptionsController.php') %}
<?php

class OptionsController extends {%= env('php.yii.controller.superclass', 'AdminController') %} 
{
{% join_partial('options.controller.actions') %}

	public function filters()
	{
		return array(
			'accessControl',
		);
	}
	
	public function accessRules()
	{
		return array(
{% join_partial('options.controller.accessrules') %}
			array('deny'),
		);
	}
}
{% close_file() %}
