{% ask('cfg.appName', 'Please, specify application name') %}
{% ask('cfg.dbHost', 'Please, specify DB host [localhost]', true) %}
{% ask('cfg.dbName', 'Please, specify DB name') %}
{% ask('cfg.dbUser', 'Please, specify DB user') %}
{% ask('cfg.dbPass', 'Please, specify DB password') %}
{% open_file('protected/config/main.php') %}
<?php

return array (
	'preload' => array('log'),
	'components' => array(
		'urlManager' => array(
			'urlFormat' => 'path',
			'appendParams' => false,
		),
		'authManager' => array(
			'class' => 'PhpAuthManager',
			'defaultRoles' => array('guest'),
		),
		'user' => array(
			'class' => 'WebUser',
			'loginUrl' => '/index.php/admin/login',
			'allowAutoLogin' => true,
		),
		'db' => array(
			'class' => 'CDbConnection',
			'connectionString' => 'mysql:host={%= strlen(env('cfg.dbHost')) ? addslashes(env('cfg.dbHost')) : 'localhost' %};dbname={%= addslashes(env('cfg.dbName')) %}',
			'username' => '{%= addslashes(env('cfg.dbUser')) %}',
			'password' => '{%= addslashes(env('cfg.dbPass')) %}',
			'tablePrefix' => '',
			'charset' => 'utf8',
		),
		'cache' => array(
			'class' => 'CFileCache',
		),
		'errorHandler'=>array(
            'errorAction'=>'site/error',
        ),
        'format' => array(
			'class' => 'Formatter',
			'booleanFormat' => array('Нет', 'Да'),
			'datetimeFormat' => 'd/m/Y h:i',
        ),
	),
	'modules' => array(
		'admin',
	),
	'import' => array(
		'application.components.*',
		'application.models.*',
		'application.extensions.*',
	),
	'layout' => 'default',
	'name' => '{%= addslashes(env('cfg.appName')) %}',
	'language' => 'ru',
);
{% close_file() %}
