{% open_file('protected/config/auth.php') %}
<?php

return array(
	/**
	 * User
	 */
	'view_user' => array(
		'type' => CAuthItem::TYPE_OPERATION,
		'description' => 'View users',
		'bizRule' => null,
		'data' => null
	),
	'create_user' => array(
		'type' => CAuthItem::TYPE_OPERATION,
		'description' => 'Create users',
		'bizRule' => null,
		'data' => null
	),
	'update_user' => array(
		'type' => CAuthItem::TYPE_OPERATION,
		'description' => 'Update users',
		'bizRule' => null,
		'data' => null
	),
	'delete_user' => array(
		'type' => CAuthItem::TYPE_OPERATION,
		'description' => 'Delete users',
		'bizRule' => null,
		'data' => null
	),
{% join_partial('crud.authitems') %}
	/**
	 * Basic roles
	 */
	'guest' => array(
		'type' => CAuthItem::TYPE_ROLE,
		'description' => 'Гость',
		'bizRule' => null,
		'data' => null
	),
	'user' => array(
		'type' => CAuthItem::TYPE_ROLE,
		'description' => 'Пользователь',
		'children' => array(
			'guest',
		),
		'bizRule' => null,
		'data' => null
	),
	'admin' => array(
		'type' => CAuthItem::TYPE_ROLE,
		'description' => 'Администратор',
		'children' => array(
			'view_user',
			'create_user',
			'update_user',
			'delete_user',
{% join_partial('crud.authitems.assigned') %}
			'user',
		),
		'bizRule' => null,
		'data' => null
	),
);
{% close_file() %}
