table.grid-view {
	margin: 0;
}
table.grid-view .button-column {
	width: 90px;
	text-align: right;
}
table.grid-view .button-column a {
	display: inline-block;
	padding: 5px;
}
table.grid-view .sort-link.desc:after,
table.grid-view .sort-link.asc:after {
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-size: 10px;
	margin-left: 3px;
}
table.grid-view .sort-link.asc:after {
	content: "\e113";
}
table.grid-view .sort-link.desc:after {
	content: "\e114";
}
table.detailed-view th {
	width: 30%;
}
.grid-view-loading th.button-column {
	background: url(../img/loading.gif) no-repeat center center;
}
.main-shortcuts .btn {
	display: block; 
	height: 120px; 
	margin-bottom: 15px;
}
.main-shortcuts .btn i {
	display: block;
	font-size: 32px;
	margin: 15px auto 10px auto;
	width: 24px;
}
.logout-btn {
	margin-left: 15px;
}
.thumb-placeholder {
	width: 148px;
	height: 98px;
	border: 1px solid #ddd;
	background: #eee;
}
.thumb-placeholder:before {
	content: "\e118";
	font-size: 64px;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	display: block;
	margin: 0 auto;
	width: 64px;
	text-align: center;
	color: #DDD;
}
table.grid-view .thumbnail,
table.detailed-view .thumbnail {
	text-decoration: none;
	display: inline-block;
	margin: 0;
}
.pagination-wrapper {
	text-align: center;
}
.image-picker.non-empty .image-picker-placeholder {
	display: none;
}
.image-picker.empty .image-picker-placeholder {
	display: inline-block; 
	border: 1px solid #ddd; 
	background: #eee; 
	text-align: center; 
	color: #666; 
	vertical-align: top; 
	min-width: 150px;
}
.image-picker img {
	display: inline-block; 
	vertical-align: top;
}
.image-picker .image-picker-clear {
	display: inline-block; 
	margin-left: 10px; 
	vertical-align: top;
}
.image-picker.empty .image-picker-clear {
	display: none;
}
.image-picker .thumbnail {
	display: inline-block;
	margin-bottom: 0;
}
.image-picker-dialog .items {
	margin-left: -24px;
}
.image-picker-dialog .thumbnail{
	display: inline-block;
	margin: 0 0 8px 24px;
}
.image-picker-dialog .pagination {
	margin-bottom: 0;
}
.image-picker-dialog .form-content {
	margin-bottom: 20px;
}
.image-picker-dialog .empty {
	padding-left: 24px;
}
.table-totals {
	border-top: 1px solid #DDD;
	padding: 5px;
	font-size: 1.1em;
}
.table-totals span {
	font-weight: bold;
}
.input-group-btn .glyphicon {
	margin: 3px 0;
}
.datepicker.dropdown-menu {
	width: 215px;
	padding: 2px;
	box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
}
.input-group-icon > .btn + .btn {
	margin-left: 0;
}
