<?php $this->widget('zii.widgets.jui.CJuiDatePicker', array(
	'attribute' => '{%= attribute_id($attribute) %}',
	'model' => $model,
	'options' => array(
		'dateFormat' => '{%= env('type.datetime.format.datepicker', 'yy-mm-dd') %}',
	),
	'htmlOptions' => array(
		'class' => 'form-control datepicker-form-control',
		'readonly' => true,
	),
)); ?>
