{% open_file('protected/modules/admin/views/'.lcfirst($model->getName()).'/update.php') %}
<?php

$this->pageHeading = Yii::t('admin.crud', 'Updating {%= model_label($model) %}');

$this->breadcrumbs = array(
	Yii::t('admin.crud', '{%= model_label($model, true) %}') => Yii::app()->user->checkAccess('{%= permission('view', $model) %}') ? array('index') : false, 
	Yii::t('admin.crud', 'Update'),
);

$this->menu = array(
	array(
		'label' => '<i class="glyphicon glyphicon-plus"></i> ' . Yii::t('admin.crud', 'Create {%= model_label($model) %}'), 
		'url' => array('create'),
		'visible' => Yii::app()->user->checkAccess('{%= permission('create', $model) %}'),
	),
	array(
		'label' => '<i class="glyphicon glyphicon-eye-open"></i> ' . Yii::t('admin.crud', 'View {%= model_label($model) %}'), 
		'url' => array('view', 'id' => $model->id),
		'visible' => Yii::app()->user->checkAccess('{%= permission('view', $model) %}'),
	),
	array(
		'label' => '<i class="glyphicon glyphicon-wrench"></i> ' . Yii::t('admin.crud', 'Manage {%= model_label($model, true) %}'), 
		'url'=>array('index'),
		'visible' => Yii::app()->user->checkAccess('{%= permission('view', $model) %}'),
	),
);

?>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><?php echo $this->pageHeading; ?></h3>
	</div>
	<div class="panel-body">
		<?php $this->renderPartial('_form', array(
			'model' => $model,
		)); ?>
	</div>
</div>
{% close_file() %}
