{% if(count($searchable = searchable_attributes($model, false))): %}
{% open_file('protected/modules/admin/views/'.lcfirst($model->getName()).'/_search.php') %}
<div class="form-content">

	<?php $form = $this->beginWidget('ActiveForm', array(
		'action' => Yii::app()->createUrl($this->route),
		'htmlOptions' => array(
			'class'=>'form-horizontal',
			'role' => 'search-form',
			'data-target' => '{%= strtolower($model->getName()) %}-grid',
		),
		'method' => 'get',
	)); ?>
{% foreach($searchable as $attribute): %}
{% if($control = form_control($attribute, 'search')): %}
		<div class="form-group">
			<?php echo $form->label($model, '{%= attribute_id($attribute) %}', array('class'=>'col-sm-3 control-label')); ?>
			<div class="col-sm-9">
{% if(is_array($control)): %}
				{% partial($control[0], $control[1], 4) %} 
{% else: %}
				{%= $control %} 
{% endif %}
			</div>
		</div>
{% endif %}
{% endforeach %}
		
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<?php echo CHtml::submitButton(Yii::t('admin.crud', 'Search'), array('class'=>'btn btn-default')); ?>
			</div>
		</div>

	<?php $this->endWidget(); ?>

</div>
{% close_file() %}
{% endif %}
