{% open_partial('crud.shortcuts', $model->getName()) %}
	<?php if(Yii::app()->user->checkAccess('{%= permission('view', $model) %}')): ?>
		<div class="col-md-2 col-xs-6">
			<a href="<?php echo $this->createUrl('/admin/{%= lcfirst($model->getName()) %}'); ?>" class="btn btn-default">
				<i class="glyphicon glyphicon-list"></i> 
				<?php echo Yii::t('admin.crud', '{%= model_label($model, true) %}'); ?>
			</a>
		</div>
	<?php endif; ?>
{% close_file() %}
{% open_partial('crud.menuitems', $model->getName()) %}
						array(
							'label' => Yii::t('admin.crud', '{%= model_label($model, true) %}'),
							'url' => array('/admin/{%= lcfirst($model->getName()) %}'),
							'visible' => Yii::app()->user->checkAccess('{%= permission('view', $model) %}'),
						),
{% close_file() %}
