{% open_partial('crud.messages', $model->getName()) %}
	'New {%= model_label($model) %}' => 'Создание {%= model_label($model) %}',
	'Updating {%= model_label($model) %}' => 'Редактирование {%= model_label($model) %}',
	'{%= model_label($model) %} Information' => 'Информация о {%= model_label($model) %}',
	'Create {%= model_label($model) %}' => 'Создать {%= model_label($model) %}',
	'{%= model_label($model, true) %}' => '{%= model_label($model, true) %}',
	'Manage {%= model_label($model, true) %}' => 'Все {%= model_label($model, true) %}',
	'Update {%= model_label($model) %}' => 'Обновить {%= model_label($model) %}',
	'View {%= model_label($model) %}' => 'Просмотреть {%= model_label($model) %}',
	'Delete {%= model_label($model) %}' => 'Удалить {%= model_label($model) %}',
	'Are you sure you want to delete this {%= strtolower(model_label($model)) %}?' => 'Вы уверены, что хотите удалить этот {%= strtolower($model->getName()) %}?',
{% close_file() %}
