{% open_partial('options.shortcuts', $model->getName()) %}
	<?php if(Yii::app()->user->checkAccess('{%= permission('update', $model) %}')): ?>
		<div class="col-md-2 col-xs-6">
			<a href="<?php echo $this->createUrl('/admin/options/{%= lcfirst($model->getName()) %}'); ?>" class="btn btn-default">
				<i class="glyphicon glyphicon-wrench"></i> 
				<?php echo Yii::t('admin.crud', '{%= model_label($model) %}'); ?>
			</a>
		</div>
	<?php endif; ?>
{% close_file() %}
{% open_partial('options.menuitems', $model->getName()) %}
						array(
							'label' => Yii::t('admin.crud', '{%= model_label($model) %}'),
							'url' => array('/admin/options/{%= lcfirst($model->getName()) %}'),
							'visible' => Yii::app()->user->checkAccess('{%= permission('update', $model) %}'),
						),
{% close_file() %}
