{% open_file('protected/views/mail/'.lcfirst($model->getName()).'.php') %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	</head>
	<body>
		<p><b>Доброго времени суток!</b></p>
		<p>На сайте `<?php echo Yii::app()->name; ?>` был добавлен {%= mb_strtolower(model_label($model)) %}:</p>
		<dl>
			<?php $this->widget('zii.widgets.CDetailView', array(
				'data' => $model,
				'tagName' => 'dl',
				'itemTemplate' => '<dt><b>{label}:</b></dt><dd>{value}</dd>',
				'attributes' => array(
{% start_attr_list_natural_order %}
{% foreach(detail_view_attributes($attribute) as $str): %}
					{%= $str %},
{% endforeach %}
{% end_attr_list %} 
				),
			)); ?>
		</dl>
		<p>Это письмо отправлено автоматически с сайта `<?php echo Yii::app()->name; ?>`.</p>
	</body>
</html>
{% close_file() %}
