{% open_partial('mysql.create', $model->getName()) %}
--
-- Table structure for {%= $model->getName(); %} model
--
CREATE TABLE `{%= table_name($model) %}` (
	`id` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
{% foreach(model_columns($model) as $definition): %}
	{%= $definition %},
{% endforeach %}
	PRIMARY KEY (`id`)
) AUTO_INCREMENT=1 CHARSET=utf8 COLLATE=utf8_unicode_ci;

{% close_file() %}
