{% open_file('data/sql/schema.sql') %}

{% join_partial('mysql.create') %}

{% foreach(many_many_tables() as $params): %}
{% list($amodel, $bmodel, $table, $fk1, $fk2) = $params; %}
--
-- {%= $amodel %} and {%= $bmodel %} linker table
--
CREATE TABLE `{%= $table %}` (
	`{%= $fk1 %}` INTEGER UNSIGNED NOT NULL,
	`{%= $fk2 %}` INTEGER UNSIGNED NOT NULL,
	PRIMARY KEY (`{%= $fk1 %}`, `{%= $fk2 %}`)
);
ALTER TABLE `{%= $table %}` ADD CONSTRAINT `fk_{%= $fk1 %}` FOREIGN KEY (`{%= $fk1 %}`) REFERENCES `{%= table_name($amodel) %}` (`id`);
ALTER TABLE `{%= $table %}` ADD CONSTRAINT `fk_{%= $fk2 %}` FOREIGN KEY (`{%= $fk2 %}`) REFERENCES `{%= table_name($bmodel) %}` (`id`);

{% endforeach %}

--
-- Foreign keys definition
--
{% join_partial('mysql.foreign') %}
{% close_file() %}
