{% if($attribute->getType() == Codeforge\Attribute::TYPE_BOOL): %}
<?php echo $form->radioButtonList($model, '{%= attribute_id($attribute) %}', array(
	1 => Yii::t('admin.crud', 'Yes'),
	0 => Yii::t('admin.crud', 'No'),
)); ?>
{% elseif($attribute->getType() == Codeforge\Attribute::TYPE_INTOPTION || $attribute->getType() == Codeforge\Attribute::TYPE_STROPTION): %}
<?php echo $form->radioButtonList($model, '{%= attribute_id($attribute) %}', array(
{% foreach ($attribute->getOptions() as $key => $value): %}
	{%= escape_value($key) %} => {%= escape_value($value) %},
{% endforeach %}
)); ?>
{% elseif($attribute->getType() == Codeforge\Attribute::TYPE_CUSTOM): %}
<?php echo $form->radioButtonList($model, '{%= attribute_id($attribute) %}', {%= $attribute->getCustomType() %}::getList()); ?>
{% endif %}
